FORMAT: 1A
HOST: https://api.codecorps.org

# API Reference

The Code Corps API is a [JSON API](https://github.com/code-corps/code-corps-api)-based REST API built on Rails. You can visit the [API project on GitHub](https://github.com/code-corps/code-corps-api).

This document outlines how to interact with the API's resource-oriented URLs. JSON API errors returned by the API are also documented along with their HTTP status codes.

This API is intended for direct consumption by the Code Corps Ember application.

The production API can be found at `https://api.codecorps.org`.

The staging API can be found at `https://api.pbqrpbecf.org`.

The remote development API can be found at `https://api.pbqrpbecf-qri.org`.

We recommend that you use the remote development API for your development and testing.

# Authentication
When using the API's authenticated endpoints you can authenticate users by exchanging the `username` and `password` for an OAuth token.

## OAuth Token Exchange [/oauth/token]
Exchange credentials for `access_token`.

### Exchange credentials for token [POST]
+ Request
    + Attributes (OAuth Grant Request)
    + Headers

            Authorization: Basic 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
            Content-Type: application/x-www-form-urlencoded

+ Response 200 (application/json)
    + Attributes (OAuth Valid Response)

+ Response 401 (application/json)
    + Attributes (OAuth Invalid Response)

# Group Categories

# Group Comment Images

# Group Comment User Mentions

# Group Comments

# Group Github Repositories

# Group Import Skill Failures

# Group Imports

# Group OAuth Applications

# Group Organization Memberships

# Group Organizations

# Group Ping

# Group Post Images

# Group Post Likes

# Group Post User Mentions

# Group Posts

# Group Preview User Mentions

# Group Previews

# Group Project Categories

# Group Project Roles

# Group Projects

# Group Roles

# Group Role Skills

# Group Skills

# Group Slugged Routes

# Group User Categories

# Group User Roles

# Group User Skills

# Group Users

The API allows you to create and update users. You can retrieve individual users as well as a filtered list of users. You can also search for available emails and usernames. You can create a password reset token and also use that token to reset the user's password.

## User [/users/{id}]

+ Parameters

  + id: 1 (string, required)

### Create a user [POST]

When creating a user you *must* include either `email` or a combination of `facebook_id` and `facebook_access_token`. If creating with Facebook, the Graph API *must* successfully return the user's email.

+ Parameters

  + base64_photo_data: `data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7` (string, optional)
  + email: `team@codecorps.org` (string, optional)
  + facebook_id: `1234567890` (string, optional)
  + facebook_access_token: `CAABwiWr8tH8BAGKCYOIgoMwJ9T0ZAmJ6KJJNcUjzmftdAOCx1RgzxZAjzGB1s37DDCEoy9r2VgrCLffCTvEGe9cZBZPAwBhygi2ZpTubZC2eCzMe16CLP4Wlc9bStWGwUNYoLEl4dXu4uJl2CCLiFXEtP4GKDv0Gk4s35iXty77KZBx5NYBCcEUs98WjdJQcXLsb1X2ZBaMTW2AZDZN` (string, optional)
  + password: `password` (string, required)
  + username: `codecorps` (string, required)

+ Response 201 (application/vnmd.api+json)

  + Attributes (User Response)

### Retrieve a user [GET]

+ Relation: self

+ Response 200 (application/vnd.api+json)

  + Attributes (User Response)

+ Response 404 (application/vnd.api+json)

  + Attributes (Record Not Found Response)

## Users [/users]

### List all users [GET]

+ Response 200 (application/vnd.api+json)

  + Attributes (Users Response)

# Data Structures

## Categories Relationship (object)
+ id: 1 (string)
+ type: categories (string)

## Organizations Relationship (object)
+ id: 1 (string)
+ type: organizations (string)

## Roles Relationship (object)
+ id: 1 (string)
+ type: roles (string)

## Skills Relationship (object)
+ id: 1 (string)
+ type: skills (string)

## User Categories Relationship (object)
+ id: 1 (string)
+ type: user_categories (string)

## User Roles Relationship (object)
+ id: 1 (string)
+ type: user_roles (string)

## User Roles Relationships (object)
+ user_roles
  + data(array[User Roles Relationship], required)

## User Skills Relationship (object)
+ id: 1 (string)
+ type: user_skills (string)

## User Skills Relationships (object)
+ user_skills
  + data(array[User Skills Relationship], required)

## Record Not Found Response Base (object)
+ id: `RECORD_NOT_FOUND` (string)
+ title: `Record not found` (string)
+ detail: `Couldn't find {object} with 'id'={id}` (string) - Details of what record was not found.
+ status: 404 (number) - HTTP status code

## Record Not Found Response (object)
+ errors(array[Record Not Found Response Base], required)

## User (object)
+ base64_photo_data: `data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7` (string, optional)
+ biography: `Sample bio.` (string, optional)
+ created_at: `2016-07-05T01:49:33.544Z` (string, optional)
+ email: `team@codecorps.org` (string, optional)
+ facebook_id: `1234567890` (string, optional)
+ facebook_access_token: `CAABwiWr8tH8BAGKCYOIgoMwJ9T0ZAmJ6KJJNcUjzmftdAOCx1RgzxZAjzGB1s37DDCEoy9r2VgrCLffCTvEGe9cZBZPAwBhygi2ZpTubZC2eCzMe16CLP4Wlc9bStWGwUNYoLEl4dXu4uJl2CCLiFXEtP4GKDv0Gk4s35iXty77KZBx5NYBCcEUs98WjdJQcXLsb1X2ZBaMTW2AZDZN` (string, optional)
+ password: `password` (string, required)
+ photo_thumb_url: `https://d3pgew4wbk2vb1.cloudfront.net/icons/user_default_thumb.png` (string, optional)
+ photo_large_url: `https://d3pgew4wbk2vb1.cloudfront.net/icons/user_default_large.png` (string, optional)
+ state: `signed_up` (string)
+ theme: `light` (string, optional)
  The theme is either `light` or `dark`.
+ twitter: `codecorps` (string, optional)
+ username: `codecorps` (string, required)
+ website: `https://codecorps.org` (string, optional)

## User Relationships Base (object)
+ include User Roles Relationships
+ include User Skills Relationships

## User Response Base (object)
+ id: `1` (string)
+ type: `users` (string)
+ attributes(User, required)
+ relationships(User Relationships Base, required)

## User Response (object)
+ data(User Response Base)

## Users Response (object)
+ data(array[User Response Base])

## OAuth Grant Request (object)
+ grant_type: `password` (string, required)
+ username: `josh@coderly.com` (string, required) - The user's email address.
+ password: `password` (string, required)

## OAuth Invalid Response (object)
+ id: `INVALID_GRANT` (string, required)
+ title: `Invalid grant` (string, required)
+ detail: `The provided authorization grant is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client.` (string, required)
+ status: 401 (number, required)

## OAuth Valid Response (object)
+ access_token: `5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8` (string, required)
+ token_type: `bearer` (string, required)
+ expires_in: 7200 (number, required)
+ refresh_token: `f160d958cab936626305062dc594c2cadb12712ebc7cbca091a27ec4921b91d8` (string, required)
+ created_at: 1468283904 (number, required)
+ user_id: 1 (number, required)
