---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=non-existant-token&appsecret_proof=5cf87f35920bd647d216415adffce7dc04ba652ed43a23a23e7b63fb496715ae&fields=email,first_name,last_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"A6PepT920Ec"}}'
  recorded_at: Fri, 04 Dec 2015 23:11:49 GMT
recorded_with: VCR 3.0.0
