<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>User @<%= @author.username %> has mentioned you in a <%= @type %></h1>
    <p>
      You can take a look at the <%= @type %> by clicking <a href="<%= @link %>">here</a>
    </p>
  </body>
</html>
